<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Pubble_Messenger
 *
 * @category  Pubble
 * @package   Pubble_Messenger
 * @author    Pubble <ross@pubble.io>
 * @copyright 2016 Pubble (http://www.pubble.io)
 * @version   1.1.2
 */
-->
<config>
    <modules>
        <Pubble_Messenger>
            <version>1.1.2</version>
        </Pubble_Messenger>
    </modules>
    <global>
        <blocks>
            <pubble_messenger>
                <class>Pubble_Messenger_Block</class>
            </pubble_messenger>
        </blocks>
        <helpers>
            <pubble_messenger>
                <class>Pubble_Messenger_Helper</class>
            </pubble_messenger>
        </helpers>
        <models>
            <pubble_messenger>
                <class>Pubble_Messenger_Model</class>
            </pubble_messenger>
        </models>
        <resources>
            <pubble_messenger_setup>
                <setup>
                    <module>Pubble_Messenger</module>
                </setup>
            </pubble_messenger_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pubble_messenger>
                    <file>pubble_messenger.xml</file>
                </pubble_messenger>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pubble translate="title" module="pubble_messenger">
                                            <title>Pubble Messenger Settings</title>
                                        </pubble>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Pubble_Messenger/>
            </modules>
        </suite>
    </phpunit>
</config>
